*{
    font-family: Arial, Helvetica, sans-serif;
}

ul li{
    /*tama;o de letra*/
    font-size: 20px;
}

/*primer hijo o primer listado*/
ul li:first-child{
    color: purple;
    /*ancho de la letra*/
    font-weight: bold;
}

/*en parentecis escojes el numero del la lista*/
ul li:nth-child(2){
    color: orange;
    /*ancho de la letra*/
    font-weight: bold;
}

ul li:last-child{
    color: gray;
    /*ancho de la letra*/
    font-weight: bold;
}

#mi-enlace{
    font-size: 30px;
    color: lightsalmon;
}

/*cuando no he visitado la enlace*/
#mi-enlace:link{
    color: red;
}

/*cuando ya he vistado el enlace*/
#mi-enlace:visited{
    color: orangered;
}

/*cuando pase el mause por el enlace*/
#mi-enlace:hover{
    color: blue;
}
/*caundo pulsas el enlace cabia*/
#mi-enlace:active{
    color: green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*cambiar los estilos cuando selecionas el campo*/
input[type="text"]{
    margin-top: 20px;
    padding: 10px;
}

input[type="text"]:focus{
    border: 4px dashed red;
}