*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 30px;
}
/*solo colocar tres cajas*/
#cajas{
    /*tamaño de la caja contenedora*/
    /*ancho máximo de un elemento*/
    max-width: 1040px;
    border: 1px solid black;
}

.caja{
    display: block;
    /*tamaño de caja ancho*/
    width: 250px;
    /*tamaño de caja altura hacia abajo*/ 
    height: 250px;
    /*min-width: ;*/
    /*max-width: ;*/
    background-color:cornsilk;
    border: 10px solid royalblue;
    margin: 15px;
    /*margen ariba*/
    margin-top: 15px;
    /*margen abajo*/
    margin-bottom: 40px;
    /*margen isquierda*/
    margin-left: 24px;
    /*margen derecha*/
    margin-right: 10px;
    /*margen interno*/
    padding: 20px;
    /*margen abajo*/
    /*padding-bottom: 25px ;*/
    /*mover los elementos para que esten juntos*/
    float: left;
}

.caja p{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /*poner en el centro de la caja*/
    line-height: 250px;
}

.clearfix{
    float: none;
    clear: both;
}