#botton{
    /*para que se comporte como un bloke*/
    display: block;
    padding: 20px;
    background-color: green;
    color: white;
    /*ancho ala derecha*/
    width: 200px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    border: 5px solid rgb(0, 71, 0);
    
    /*transicion cambio en la animacion con el tiempo que le pongas a todo*/
    /*transition: all 1s;*/
    /*por partes*/
    transition: border 500ms,background 3s,border-radius 1s;

}
/*al poner el cursor cambia*/
#botton:hover{
    border-radius: 15px;
    background: orange;
    border: 5px solid red;
}

#caja{
    width: 250px;
    height: 250px;
    background: lightpink;
    color: white;
    border: 5px solid black;
    /*separar la cajas*/
    margin-top:25px;
    font-size: 20px;
    text-align: center;
    /*centrar texto en medio*/
    line-height: 200px;
    /*poner la animacion creada*/
    animation-name:desplazamiento;
    animation-duration: 10s;
    /*para que la animacion sea infinita*/
    animation-iteration-count: infinite;
    /*tiempo en que se mueve la animacion*/
    /*animation-timing-function: linear;*/
}
/*animaciones*/
/*@keyframes desplazamiento{
    from{
        margin-left: 0px;
    }
    to{
        margin-left:1200px;
    }
}*/
@keyframes desplazamiento{
    0%{
        margin-left: 0px;
        transform: rotate(0deg);
        border-radius: 0px;
    }
    50%{
        margin-left:1200px;
        transform: rotate(360deg);
        border-radius: 999px;
        
    }
    75%{
        background: rgb(255, 139, 157);
    }
    /*77%{
        border:10px /*tipo de borde*//*dashed lightsalmon ;*/
    }
    100%{
        margin-left: 0px;
        transform: rotate(0deg);
        
    }
}