/*importar estilo */
@font-face{
    font-family:LobsterRegular;
    src: url(fonts/Lobster/Lobster-Regular.ttf);
}




h1{
    font-family: 'Mansalva', cursive;
    /*cursiva*/
    font-style: italic;
    /*mayusculas*/
    text-transform: uppercase;
    /*tamaño de letra */
    font-size: 45px;
    /*colores*/


    /*colores del sistema*/
    color:silver;
    /*colores hexadecimales*/
    color:#0000;
    /*colores RGB*/
    color: rgb(176, 169, 205);
    /*colores RGBA*/
    color: rgba(176, 169, 205, 0.5);
}

h3{
    font-family: LobsterRegular,"comic sans MS";
    font-size: 25px;
    /*tamaño de grosor de letra*/
    font-weight: lighter;
    color:salmon;
}

p{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}