/*
########## electores
*/

/*selector universal*/
*{
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
  
}


/*selector de etiqueta*/
h1{
 background:red ;
 color: white;
 /*espacio de relleno */
 padding: 10px;
}
a{
    font-size: 18px;
    color: green;
    text-decoration: none;
}

footer a{
    color: red;
    font-size: 15px;
}




/*selectores de id*/ 
/*si quieres pones dos selectores*/
#descripcion,#titulo
{
    border: 5px solid black;
    padding: 15px;
}
 #titulo{
    background: blue; 
    border: dashed black;
 }






 /*selector de clase*/
.parrafo{
    font-style: italic;
    text-decoration: underline; 
    /*El grosor de las letras*/
    font-weight: bold;
}

.parrafo1,
.parrafo3
{
    background-color: chartreuse;
    color: white;
    padding: 10px;
}

.parrafo3{
    background-color:orange ;
    color: black;
}

/*selectores de atributos (formularios)*/
#usuario form {
    border: 5px solid blue ;
    /*margen de ariba*/
    margin-top: 15px;
    /*margen de abajo*/
    margin-bottom: 15px;
    padding: 20px;
}

#usuario form *{
    /*manipular como quieras el elemento*/
    display: block;
}


input[type="text"]{
    margin-bottom: 15px;
    padding: 5px;
    width: 300px;
}

input[type="submit"]{
    background: red;
    color: white;
    padding: 15px;
    font-size: 15px;
    /*mayusculas*/
    text-transform: uppercase;
    border: 1px solid black;
    /*aparesca manita en el cursor*/
    cursor: pointer;;
}

/*selectores hijo*/

#menu >li> a{
    font-size: 18px;
    color: red;
    text-decoration: none;
}

/*Prioridad*/
#saludo h1{
    background:brown !important;
}

h1{
    background:purple !important;
}
